header
{display :flex;
height: 150px;}
#photo
{background-color :rgb(254,210,48);
width:33%;
;}
#photo img
{ padding: 2px 200px 2px 200px;
border-radius: 50%;
width:150px}
h2
{text-align: right;
background-color: green;
width:33%-}
h1
{background-color:red;
width: 33%;
height: 